/* Write your CSS here */
.bg-layer {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card {
  background-color: white;
  padding: 30px 80px;
  text-align: center;
  border-radius: 8px;
}
.head {
  font-size: 40px;
  color: #ff8542;
}
.items-box {
  list-style-type: none;
  padding-left: 0;
}
